body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

select {
    position: absolute;
    left: 20px;
    z-index: 10;
    padding: 6px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    text-align-last: center;
}

select option {
    text-align: left;
}

#shape-selector {
    top: 20px;
    width: 160px;
}

#style-selector {
    top: 60px;
    width: 160px;
}

#color-selector {
    top: 100px;
    width: 160px;
}

#parameter-selector {
    top: 140px;
    width: 160px;
}

#param-input {
    padding: 6px;
    font-size: 16px;
    width: 145px;
    margin-top: 0px;
}
